@keyframes shake {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(1rem);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(-1rem);
    }

    100% {
        transform: translateY(0);
    }
}