html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh; }

a:link,
a:visited {
  text-decoration: none; }

@keyframes shake {
  0% {
    transform: translateY(0); }
  25% {
    transform: translateY(1rem); }
  50% {
    transform: translateY(0); }
  75% {
    transform: translateY(-1rem); }
  100% {
    transform: translateY(0); } }

.header {
  width: 100%;
  height: 6rem;
  background-image: linear-gradient(to right, #7D84FF, #F265FF); }
  .header__content {
    width: 100%;
    height: 5.7rem;
    background-color: #001d3d;
    display: grid;
    grid-template-columns: 1fr max-content;
    column-gap: 1rem;
    align-items: center; }
  .header__left {
    margin-left: 2rem;
    display: flex;
    align-items: center;
    height: 100%; }
  .header__logo {
    margin-right: 4rem; }
    .header__logo img {
      height: 5rem;
      width: auto; }
  .header__nav {
    height: 100%;
    display: flex;
    align-items: center; }
  .header__item {
    font-size: 1.8rem;
    color: #ffffff;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem; }
    .header__item:not(:last-of-type) {
      margin-right: 2rem; }
    .header__item:hover {
      background-color: rgba(125, 132, 255, 0.3); }
  .header__item:hover .header__link {
    animation: shake .2s; }
  .header__link {
    color: inherit; }
  .header__right {
    display: flex;
    justify-items: center;
    margin-right: 2rem; }
  .header__user {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    padding: .5rem;
    border-radius: 10px; }
    .header__user:hover {
      background-color: rgba(125, 132, 255, 0.5); }
  .header__user-photo {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    margin-right: .5rem; }
  .header__user-text {
    color: #ffffff;
    font-size: 1.6rem;
    display: flex;
    align-items: center; }
  .header__user-arrow {
    width: 2rem;
    height: 1.5rem;
    background-color: #F265FF;
    display: inline-block;
    clip-path: polygon(0 0, 50% 60%, 100% 0, 50% 100%, 0 0); }

.main {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center; }

.main::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: linear-gradient(to right, #7D84FF, #003566);
  clip-path: polygon(0 0, 50% 40%, 100% 0, 100% 100%, 50% 60%, 0 100%); }

.login {
  margin: 10rem 0;
  width: 60%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f4f7f4;
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem; }
  @media only screen and (max-width: 75em) {
    .login {
      width: 80%; } }
  @media only screen and (max-width: 56.25em) {
    .login {
      width: 90%; } }
  @media only screen and (max-width: 46.875em) {
    .login {
      width: 100%;
      margin: 0;
      border-radius: 0; } }
  .login__logo {
    display: flex;
    justify-content: center;
    background-color: #000814;
    padding: .5rem 0; }
  .login__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    margin: 1rem auto;
    gap: 3rem 2rem; }
    @media only screen and (max-width: 46.875em) {
      .login__form {
        width: 80%; } }
    @media only screen and (max-width: 28.125em) {
      .login__form {
        width: 100%;
        padding: 0 1rem; } }
  .login__welcome {
    padding: 2rem 0;
    grid-column: 1 / -1;
    justify-self: center;
    font-size: 3rem;
    color: transparent;
    background-image: linear-gradient(to right, #7D84FF, #F265FF);
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text; }
  .login__box {
    display: flex;
    flex-direction: column;
    color: #003566;
    width: 100%; }
    .login__box--2x {
      grid-column: 1 / -1; }
  .login__label {
    color: #F265FF;
    font-size: 1.6rem;
    margin-bottom: 1rem; }
  .login__input, .login__select {
    font-size: 1.6rem;
    color: #7D84FF;
    font-family: inherit;
    border: 1px solid;
    border-color: inherit;
    border-radius: 5px;
    outline: none;
    padding: 1rem;
    display: inline-block;
    width: 100%; }
  .login__select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .login__select-div {
    position: relative; }
  .login__select-div::after {
    content: "";
    position: absolute;
    top: 50%;
    right: .5rem;
    transform: translate(0, -50%);
    width: 2rem;
    height: 1rem;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    background-color: #001d3d; }
  .login__button {
    cursor: pointer;
    background-color: #001d3d;
    font-size: 3rem;
    font-family: inherit;
    color: #7D84FF;
    border: none;
    border-radius: 5px;
    padding: 1rem 2rem;
    transition: all .5s; }
    .login__button:hover {
      background-color: #003566;
      text-shadow: 0 0 2rem #7D84FF; }
  .login__link:link, .login__link:visited {
    align-self: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    outline: none;
    text-decoration: none;
    color: #F265FF; }

.logo-login {
  width: 30rem;
  height: auto; }
