html {
  font-size: 62.5%;
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh; }

.main {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center; }

.main::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: linear-gradient(to right, #7D84FF, #003566);
  clip-path: polygon(0 0, 50% 40%, 100% 0, 100% 100%, 50% 60%, 0 100%); }

.login {
  margin: 10rem 0;
  width: 60%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f4f7f4;
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem; }
  .login__logo {
    display: flex;
    justify-content: center;
    background-color: #000814;
    padding: .5rem 0; }
  .login__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    margin: 1rem auto;
    gap: 3rem 2rem; }
  .login__welcome {
    padding: 2rem 0;
    grid-column: 1 / -1;
    justify-self: center;
    font-size: 3rem;
    color: transparent;
    background-image: linear-gradient(to right, #7D84FF, #F265FF);
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text; }
  .login__box {
    display: flex;
    flex-direction: column;
    color: #003566;
    width: 100%; }
    .login__box--2x {
      grid-column: 1 / -1; }
  .login__label {
    color: #F265FF;
    font-size: 1.6rem;
    margin-bottom: 1rem; }
  .login__input, .login__select {
    font-size: 1.6rem;
    color: #7D84FF;
    font-family: inherit;
    border: 1px solid;
    border-color: inherit;
    border-radius: 5px;
    outline: none;
    padding: 1rem;
    display: inline-block;
    width: 100%; }
  .login__select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .login__select-div {
    position: relative; }
  .login__select-div::after {
    content: "";
    position: absolute;
    top: 50%;
    right: .5rem;
    transform: translate(0, -50%);
    width: 2rem;
    height: 1rem;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    background-color: #001d3d; }
  .login__button {
    cursor: pointer;
    background-color: #001d3d;
    font-size: 3rem;
    font-family: inherit;
    color: #7D84FF;
    border: none;
    border-radius: 5px;
    padding: 1rem 2rem;
    transition: all .5s; }
    .login__button:hover {
      background-color: #003566;
      text-shadow: 0 0 2rem #7D84FF; }
  .login__link:link, .login__link:visited {
    align-self: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    outline: none;
    text-decoration: none;
    color: #F265FF; }

.logo-login {
  width: 30rem;
  height: auto; }
